.create-branch {
    width: 100%;
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.create-branch label {
    font-weight: 700;
    font-size: 50px;
}

.create-branch input {
    padding-right: 10px;
    color: #1B3C53;
    font-size: 50px;
}

.create-branch button {
    font-size: 40px;
    padding: 10px;
    border: none;
    border-radius: 0;
    color: #D2C1B6;
    background-color: #27516e;
    transition: all 0.3s ease;
}

.create-branch button:hover {
    filter: brightness(1.1);
}

.create-branch button:active {
    opacity: 0.8;
}