.form-container {
    color: #D2C1B6;
    height: 92%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container p {
    background-color: #1B3C53;
    color: #D2C1B6;
    width: 90%;
    max-width: 1250px;
    border: 3px solid #1B3C53;
    margin: 0;
    padding: 0px 10px;
}

.add-company-form {
    padding: 10px;
    border: 3px solid #1B3C53;
    height: 30%;
    width: 90%;
    min-height: 340px;
    max-width: 1250px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.add-company-form > div {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.add-company-form > div > input {
    color: #1B3C53;
    width: 100%;
    height: 25px;
}

.add-company-form button {
    background-color: #D2C1B6;
    border: none;
    padding: 10px;
}

.add-company-form button:hover {
    opacity: 0.8;
}

.add-company-form button:active {
    opacity: 0.6;
}