.company-info {
    width: 10%;
    height: 25%;
    min-height: 200px;
    min-width: 240px;
    background-color: #D2C1B6;
    display: flex;
    flex-direction: column;
    transition: 
        margin 0.3s ease,
        filter 0.3s ease;
    gap: 10px;
    justify-content: center;
}

.company-info:hover {
    filter: brightness(1.1);
    margin-left: 15px;
    margin-right: 15px;
}

.company-info > p {
    padding-left: 10px;
    font-weight: 500;
    font-size: 18px;
    color: #1B3C53;
    margin: 0;
    margin-left: 10px;
}

.company-info button {
    height: 20px;
    color: #1B3C53;
    width: 100%;
    background-color: #a79a91;
    border: none;
}

.company-info button:hover {
    opacity: 0.8;
}

.company-list {
    width: 98%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;   
}

.company-list > button {
    color: #1B3C53;
    font-weight: 500;
    font-size: 40px;
    border: none;
    background-color: #D2C1B6;
    margin-top: 60px;
    margin-left: 60px;
    width: 100px;
    height: 100px;
    transition: all 0.3 ease;
}

.company-list > button:hover {
    filter: brightness(1.1);
}

.company-list > button:active {
    filter: opacity(0.8)
}