.invoice-table {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.invoice-table th {
    padding: 10px;
    background-color: #325874;
    border: 1px solid;
}

.invoice-table td {
    padding: 10px;
    border: 1px solid;
}

.invoice-table table {
    border-collapse: collapse;
}   

.invoice-table button {
    height:50px;
    width: 50px;
    font-size: 30px;
    font-weight: 700;
    border: none;
    color: #1B3C53;
    background-color: #D2C1B6;
    border-radius: 0px;
}

.invoice-table button:hover {
    filter: brightness(1.2);
}