.create-invoice-form {
    color: #D2C1B6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.create-invoice-form > div {
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    flex-wrap: wrap;
}

.create-invoice-form > p {
    padding: 0px 10px;
    border: 3px solid #1B3C53;
    width: 80%;
    margin-bottom: 0;
    height: 100%;
    background-color: #1B3C53;
}

.invoice-info-form {
    padding: 0px 10px;
    border: 3px solid #1B3C53;
    height: 250px;
}

.company-info-form {
    padding: 0px 10px;
    border: 3px solid #1B3C53;
    height: 320px;
}


.create-invoice-form > div > div {
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-invoice-form > div > div > input, select {
    color: #1B3C53;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
}

.create-invoice-form > div > div > select {
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    border-radius: 0;
    background-color: white;
    border: none;
}

.create-invoice-form > div > table {
    width: 100%;
}

.invoice-lines {
    padding: 0px 10px;
    border: 3px solid #1B3C53;
    width: 100%;
}

.invoice-lines > table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.invoice-lines > table > th, td {
    padding: 0;
    border: 1px solid #1B3C53;    
    text-align: left;
}


.invoice-lines input {
    color: #1B3C53;
    width: 100%;
    box-sizing: border-box;
}

.invoice-lines select {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 20px;
    padding: 0;
    border-radius: 0;
    box-sizing: border-box;
    background-color: white;
    border: none;
}
