.sign-in {
    height: 92%;
    display: flex;
    justify-content: center;
}

.side {
    position: relative;
    width: 35%;
}

.form {
    color: #1B3C53;
    font-weight: 500;
    font-size: 20px;
    background-color: #D2C1B6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.form * {
    margin-bottom: 10px;
}

.form > input {
    background-color: inherit;
    filter: brightness(1.5);
    width: 99%;
    height: 6%;
    min-height: 20px;
    border: none;
} 

.form.not-active{
    background-color: #234C6A;
    pointer-events: none;
    transform: translateY(40%);
    opacity: 0;
}

.info {
    font-weight: 500;
    font-size: 20px;
    color: #D2C1B6;
    background-color: #234C6A;
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.info.not-active {
    background-color: #D2C1B6;
    transform: translatey(-40%);
    pointer-events: none;
    opacity: 0;
}

.login-button {
    color: inherit;
    font-weight: 700;
    font-size: 15px;
    width: 100%;
    height: 6%;
    min-height: 20px;
    margin-top: 20px;
    background-color: inherit;
    filter: brightness(1.2);
    border: none;
}

.login-button:hover {
    opacity: 0.6;
}
